body {
	margin: auto;
	background: grey;
}
.main_content {
	background: lightgrey;
	height: 100vh;
	width: 900px;
	margin: auto;
	text-align: center;
}
.main_content div {
	margin-top: 10px;
}
.main_content div+div {
	margin-top: 20px;
}
.dog_image {
	width: 500px;
}
