body {
	margin: auto;
	background: grey;
}
.header {
	background: black;
	color: white;
	text-align: center;
	width: 100%;
	height: 50px;
	padding: 10px;
	position: fixed;
}
.main_content {
	background: lightgrey;
	height: 100vh;
	width: 900px;
	margin: auto;
	text-align: center;
}
.dog_image {
	width: 500px;
	margin-top: 10px;
}
