body {
	margin: 0px;
	background: #eee;
}
.header {
	color: black;
	text-align: center;
	width: 100%;
	height: 50px;
	padding: 10px;
	background: white;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
	position: fixed;
}
.main_content {
	height: 100vh;
	padding-top: 82px;
	width: 900px;
	margin: auto;
	text-align: center;
}
.fun_title {
	width: 80%;
	display: inline-block;
}
.fun_title h1 {
	margin: 0;
}
.dog_image {
	width: 500px;
}
.shmooie_card {
	box-shadow: 0px 0px 16px rgba(0, 0, 0, .2);
	width: 100%;
	min-height: 200px;
	background: white;
	margin-bottom: 50px;
	padding: 20px 0;
}
.shmooie_card object {
	width: 100%;
	height: 500px;
}
.image_span {
	display: inline-block;
}
.goofiness_button {
	height: 40px;
	width: 100px;
	background-color: #4285f4;
	text-align: middle;
	display: inline-block;
	transition: background-color 0.1s ease-out;
}
.goofiness_button a {
	padding-top: 10px;
	text-decoration: none;
	color: white;
	display: inline-block;
	height: 100%;
	width: 100%;
}
.goofiness_button:hover {
	background-color: #4F4FFF;
}